<style type="text/css">
	.container{
		margin-top: 100px;
	}
</style>
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12">
		<%= button_to 'User Download', users_path(:format => :xls), class: 'btn btn-primary' %>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<h3>Retained from Inactive Uplines: <%= number_to_currency(@retained) %></h3>
		</div>
	</div>
</div>